/* FONT FAMILY Y WEIGHT */

/* FONT Montserrat */
.montserrat-Regular {
	font-family: var(--Montserrat) !important;
	font-weight: var(--Regular) !important;
}

.montserrat-Medium {
	font-family: var(--Montserrat) !important;
	font-weight: var(--Medium) !important;
}

.montserrat-Bold {
	font-family: var(--Montserrat) !important;
	font-weight: var(--Bold) !important;
}

.montserrat-SemiBold {
	font-family: var(--Montserrat) !important;
	font-weight: var(--SemiBold) !important;
}

.montserrat-ExtraBold {
	font-family: var(--Montserrat) !important;
	font-weight: var(--ExtraBold) !important;
}

.montserrat-ExtraBlackExtender {
	font-family: var(--Montserrat) !important;
	font-weight: var(--ExtraBlack) !important;
}


/* FONT NeuePlak */
.neuePlak-SemiBold {
	font-family: var(--NeuePlak) !important;
	font-weight: var(--SemiBold) !important;
}

.neuePlak-ExtraBlack {
	font-family: var(--NeuePlak) !important;
	font-weight: var(--ExtraBold) !important;
}

.neuePlak-ExtraBlackExtender {
	font-family: var(--NeuePlak) !important;
	font-weight: var(--ExtraBlackExtender) !important;
}


