/* position: relative;left: 250px;transform: scale(1.3) translate(-15%,-5%) !important;" */
/***

====================================================================
		demanding-tests Section
====================================================================

***/

.demanding-tests-section {
	position: relative;
	padding: 0;
	background-color: var(--green-light);
}

.demanding-tests-section .content-column {
	position: relative;
	margin-bottom: 0;
}

.demanding-tests-section .content-column .inner-column {
	position: relative;
	padding-right: 0;
}

@media (min-width:768px) {

	.demanding-tests-section .image-column {
		position: relative;
		left: 250px;
		transform: scale(1.3) translate(-15%, -10%) !important;
	}

}


 @media (max-width:768px) {
	.demanding-tests-section .content-column .sec-title h2 {
		font-size: 40px !important;
	}
} 

.demanding-tests-section .content-column .sec-title {
	position: relative;
	margin-bottom: 20px;
}

.demanding-tests-section .content-column .sec-title .text {
	margin-top: 20px;
}

.demanding-tests-section .content-column .sec-title h2 {
	font-size: 60px;
}

.demanding-tests-section .content-column .list-style-one {
	margin-bottom: 30px;
}

.demanding-tests-section .content-column .btn-box {
	position: relative;
}

.demanding-tests-section .content-column .btn-box a {
	padding: 15px 30px;
	line-height: 20px;
	font-weight: 600;
	font-size: 15px;
}

.demanding-tests-section .image-column {
	position: relative;
	margin-bottom: 0;
}

.demanding-tests-section .image-column .image-box {
	position: relative;
	padding-left: 80px;
}

.demanding-tests-section .image-column .image-box img {
	position: relative;
	z-index: 1;
	height: 100%;
}

.demanding-tests-section .image-column .image {
	position: relative;
	margin-bottom: 0;
}

.icon-shape-1 {
	width: 484px;
	height: 225px;
	background-image: url(../images/icons/shape-1.png);
}

.icon-shape-2 {
	width: 325px;
	height: 280px;
	background-image: url(../images/icons/shape-2.png);
}

.icon-line-1 {
	width: 128px;
	height: 128px;
	background-image: url(../images/icons/icon-line-1.png);
}

.icon-dots {
	width: 72px;
	height: 60px;
	background-image: url(../images/icons/icon-dots.png);
}

.icon-dots-3 {
	width: 204px;
	height: 114px;
	background-image: url(../images/icons/icon-dots-3.png);
}

.icon-circle-1 {
	width: 500px;
	height: 500px;
	background-image: url(../images/icons/icon-circle-1.png);
	background-size: 100%;
}

.icon-circle-blue {
	width: 300px;
	height: 300px;
	background-image: url(../images/icons/circle-blue.png);
}

.demanding-tests-section .icon-circle-blue {
	right: -150px;
	bottom: -150px;
	opacity: .70;
	-webkit-animation: fa-spin 30s infinite;
	-moz-animation: fa-spin 30s infinite;
	-ms-animation: fa-spin 30s infinite;
	-o-animation: fa-spin 30s infinite;
	animation: fa-spin 30s infinite;
}

.demanding-tests-section .icon-dots {
	left: 50%;
	top: 30%;
}

.demanding-tests-section .icon-circle-1 {
	left: -200px;
	top: -200px;
	opacity: .05;
}